.App-container {
    background-color: #201E29;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1{
    margin-top: 40px;
    font-size: 100px;
    background: -webkit-linear-gradient(0deg, #F77062, #FE5196);
    background-clip: text;
    color: transparent;
}
.description{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.recientes{
    margin: 20px auto;
    color: #ffffff;
}
form{
    margin: 10px auto;
    }
    form input{
        padding: 5px 10px;
        width: 250px;
        color: #ffffff;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        outline: none;
    }

.populares{
    margin-top: 50px;
    color: #ffffff;
}
ul{
    margin: 20px auto;
    display: flex;
    }
    ul li{
        margin: auto 10px;
        list-style: none;
    }
    ul li a{
        color: #ffffff;
        text-decoration: none;
    }