.App-container {
    width: 100%;
    min-height: 100vh;
    background-color: #1B1C20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title{
    margin: 25px auto 0 auto;
    font-size: 6em;
    background: -webkit-linear-gradient(0deg, #BD0F71, #8826D1);
    background-clip: text;
    color: transparent;
}
.description{
    margin: 0 auto 35px auto;
    font-size: 1em;
    font-weight: 500;
    color: #ffffff;
}

.recientes{
    width: 85%;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #ffffff;
}