.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login h2{
    color: #ffffff;
    font-size: 2.8em;
}

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.username-login, .password-login{
    margin: 15px auto;
    padding: 5px 10px;
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
    border: none;
    outline: none;
}
.login button{
    margin-top: 20px;
    padding: 7.5px 20px;
    font-size: 1.2em;
    font-weight: 700;
    color: #ffffff;
    background-color: #9F09AC;
    border: none;
    cursor: pointer;
}

.ckecking{
    color: #ffffff;
    font-size: 1em;
}
.invalid{
    color: #9F09AC;
    font-size: 1.2em;
    font-weight: 700;
}