.trending-container{
    margin-bottom: 25px;
    width: 85%;
    display: flex;
    flex-direction: column;
}
.trending-container h3{
    margin: 0 0 5px 0;
    font-size: 1.2em;
    color: #ffffff;
}
.trending-container ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    }
    .trending-container ul li{
        margin: 0;
        list-style: none;
        }
        .trending-container ul li a{
            padding: 5px 10px;
            font-size: .6em;
            font-weight: 500;
            color: #ffffffa4;
            background-color: #47484ca4;
            text-decoration: none;
        }