.gif-container{
    position: relative;
}

.Gif{
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    }
    .Gif span{
        padding: 2.5px 10px;
        font-size: 10px;
        color: #ffffff;
        background-color: #0000005b;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .Gif img{
        width: 100%;
        object-fit: cover;
    }

.fav{
    z-index: 1;
    width: 30px;
    height: 25px;
    background-color: #ff00001e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 5px #0000001e;
    cursor: pointer;
}