header{
    margin: auto;
    width: 85%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-link{
    margin-right: auto;
    font-size: 1em;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.login-link{
    padding: 5px 12px;
    margin: 0;
    font-size: .8em;
    font-weight: 500;
    color: #ffffff;
    border: 1px solid #9F09AC;
    text-decoration: none;
}
.register-link{
    padding: 5px 12px;
    margin-left: 15px;
    font-size: .8em;
    font-weight: 500;
    color: #ffffff;
    background-color: #9F09AC;
    text-decoration: none;
}