.result-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title-results{
    margin: 50px auto;
    font-size: 35px;
    color: #ffffff;
}
.load-more{
    padding: 5px 10px;
    margin: 20px auto;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
}