*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App{
  min-height: 100vh;
  background-color: #201E29;
}

.home{
  z-index: 100;
  padding: 2.5px 15px;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 12px;
  position: fixed;
  top: 2.5%;
  left: 2.5%;
}